




/* ------------------------------------------------------------*/ 
/* ---- BACKGROUND LEAFLET MAP -------*/
.leaflet-container {
    background: #FFF;
}
/* ------------------------------------------------------------*/ 






/* ------------------------------------------------------------*/ 
/* ---- GLOBAL -------*/

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
}
/* ------------------------------------------------------------*/ 






/* ------------------------------------------------------------*/ 
/* ---- TEXT -------*/

/* Level 2 title */
h2 {
    font-size: 25px;
    color: orange;
}

/* Level 5 = text of the story */
h5 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    line-height: 1.55;
}


/* Level 6 = Green text sankey */
h6 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 22px;
    line-height: 1.55;
    color: #2ecc71;
}

/* Level 3 = Plot legends */
h3 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 15px;
    line-height: 1.55;
    color: #707070;
    font-style: italic;
}
/* ------------------------------------------------------------*/ 






/* ------------------------------------------------------------*/ 
/* Sliders */
.irs-bar {
    border-top: 1px solid #2ecc71;
    border-bottom: 1px solid #2ecc71;
    background: #2ecc71 none repeat scroll 0% 0%;
}
.irs-bar-edge {
    border-color: #2ecc71 -moz-use-text-color #2ecc71;
    background: #2ecc71 none repeat scroll 0% 0%;
}
.irs-single {
    background: #2ecc71 none repeat scroll 0% 0%;
}
/* ------------------------------------------------------------*/ 





/* ------------------------------------------------------------*/ 
/* BUTTON */

.btn {
  cursor: pointer;
  margin: 10px;
  border-radius: 5px !important;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}

.btn:hover {
    color: #fff;
    background-color: #2ecc71;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn.active, .btn:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
}

.btn-circle {
    box-shadow: 0px 0px 0px #888888;
}


.btn-circle.btn-lg {
    width: 53px;
    height: 53px;
    box-shadow: 0px 0px 0px #888888;
    line-height: 0;
}


/* ------------------------------------------------------------*/ 






/* ------------------------------------------------------------*/ 
/* BUTTON INPUT DATA */

.input-group .form-control {
    float: left;
    width: 104%;
    margin-top: 16px;
    margin-left: 2px;
}

/* ------------------------------------------------------------*/ 



/* ------------------------------------------------------------*/ 
/* REMOVE THE 'LEAFLET" WORD BELMOW EACH MAP*/
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 0px;
}
/* ------------------------------------------------------------*/ 


